<h1 id="header">NPR Health Articles</h1>

<div id="articles">
    <ul>
        {{#each Articles}}
        <li>
            <h3 id="title">{{title}}</h3>
            <p id="summary">{{summary}}</p></li>
            <a id="link" href={{link}}>Read more</a>
        </li>
        {{/each}}
    </ul>
</div>


<div id="notes">
    <h2 id="article-title">{{log note}}</h2>
    <input id="note-title"></input>
    <textarea id="note-body"></textarea>
    <button id="">Save Note</button>
</div>


