<div class="container">
    
    <div class="row">
        <h1 class="col-12" id="header">NPR Health Articles</h1>
    </div>

    <div class="row">

        <div class="col-6" id="articles">
            <ul>
                {{#each Articles}}
                <li>
                    <h5 id="title">{{title}}</h5>
                    <p id="summary">{{summary}}</p></li>
                    <a id="link" href={{link}}>Read more</a>
                </li>
                {{/each}}
            </ul>
        </div>


        <div class="col-6" id="notes">
            <form>
                <h2 id="article-title"></h2>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter comment here:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1 note-body" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Save Comment</button>
            </form> 
        </div>
    </div>


</div>

